<div id="home-page">
   <div class="row">
      <div class="col-12">
         <h2>Movies rating cao nhất</h2>
      </div>
   </div>
   <ul class="row moives-rating">
      {{#each movies }}
      <li class="col-lg-3 col-sm-6 movie">
         <div class="card ">
            <img class="movie__poster card-img-top " src="{{this.img}}" height="300px" alt="Card image cap">
            <div class="movie__body card-body">
               <h6 class="movie__title card-title">{{this.title}}</h6>
               <p class="movie__rating card-text">{{this.rating}}</p>
               <a href="/home/{{this.id}}" class="btn btn-primary">Xem chi tiết</a>
               <a href="#" id="{{this.id}}" class="btn-favorite btn btn-danger ml-2">Yêu thích</a>
            </div>
         </div>
      </li>
      {{/each}}


   </ul>